body {
    margin: 0;
}

.header {
    background-color: #1f2937;
    padding:0%;
    margin: 0%;
    padding: 0 100px;
}

.header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0;
    margin: 40px;
}

.header-logo {
    margin: 0;
    padding: 0;
}

ul, h1 {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.top {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 80px 0;
    gap: 10px;
}

.top-text {
    width: 300px;
}

.img-placeholder {
    background-color: #e5e7eb;
    padding: 64px;
}


.info {
    background-color: white;
    text-align: center;
}

.info-item-container {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.info-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.info-image {
    height: 100px;
    width: 100px;
    background-color: blue;
    border-radius: 10px;
}