body {
    margin: 0;
    font-family: sans-serif;
}

.header {
    background-color: #1f2937;
    padding:0%;
    margin: 0%;
    padding: 0 200px;
    color: white;
}

.header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.header-logo h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #f9faf8;
}

ul, h1 {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    color: #e5e7eb;
}

.top {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 80px 0;
    gap: 10px;
}

.top-text {
    width: 450px;
}

.top-text h1 {
    font-weight: 900;
    font-size: 48px;
}

button {
    background-color: #3882f6;
    border: none;
    padding: 8px 32px;
    border-radius: 5px;
    color:white;
    font-weight: bold;
}

.img-placeholder {
    background-color: gray;
    padding: 100px;
}


.info {
    background-color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
}

.info h2 {
    margin-top: 0;
}
.info-item-container {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.info-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 170px;
    color: #1f2937;
}

.info-image {
    height: 150px;
    width: 150px;
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-color: #3882f6;
    border-width: 4px;
}

.quote {
    background-color: #e5e7eb;
    padding: 100px 300px;
    color: #1f2937;
}

.quote h1 {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    
}

.quote h2 {
    display: flex;
    justify-content: right;
    padding-right: 50px;
}

.call {
    background-color: white;
    padding: 30px 200px;
    color: #e5e7eb;
}
.call-container {
    background-color: #3882f6;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 40px 60px;
    justify-content: space-between;

}
.call-text h1 {
    margin: 0;
    font-size: 20px;
}

.call-text p {
    margin: 0;
    font-size: 12px;
}

.call-button button {
    border-color: #e5e7eb;
    border-width: 2px;
    border-style: solid;
}

.footer {
    background-color: #1f2937;
    padding: 20px;
}


.footer p {
    text-align: center;
    margin: 0;
}